h1 {
  text-align: center;
  color: #4CCFA1;
  font-size: 40px;
  font-family: impact
}

h2 {
  text-align: left;
  color: #4CCFA1;
  font-size: 30px;
  font-family: impact;
}

div {
  text-align: left;
  font-family: sans-serif;
}

p {
  text-align: left;
  font-family: sans-serif;
}

body {
  font-size: 20px;
  color: white;
  background-color: #6239A8;
}

#output.format {
  column-width: 150px;

}
