body {
  background-color: #6C464F;
}

h1 {
  text-align: center;
  border-style: solid;
  padding: 15px;
  background-color: #9FA4C4;
  font-family: "Brush Script MT", cursive;
  font-size: 60px;
}

canvas {
  position: absolute;
  border: 3px solid black;
  background-color: white;
  /* width: 1200px;
  height: 646px; */
  left: 20.1%;
}

#toolbar {
  background-color: #9FA4C4;
  border: 3px solid black;
  padding: 10px;
  width: 260px;
  height: 381px;
  display: flex;
  flex-direction: column;
  font-family: "Brush Script MT", cursive;
  font-size: 25px;
}

#previous {
  background-color: white;
  border: 3px solid black;
  padding: 10px;
  width: 260px;
  height: 200px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
}

#showPopUp {
  position: relative;
  left: 93.3%;
  width: 100px;
  height: 40px;
  background-color: #9FA4C4;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
}

#closePopUp {
  position: relative; left: 215px; top: 1px;
}

#lineWidth {
  width: 50px;
}

/* #eraser {
  width: 50px;
  padding: 2px;
} */

#clear {
  width: 80px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
}

.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 30%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  text-align: center;
  background-color: #9FA4C4;
}

.hideform {
  display: none;
}
