h1 {
  text-align: center;
  color: #ff8c00;
  font-size: 40px;
  font-family: Didot;
}

h2 {
  text-align: left;
  color: #ff8c00;
  font-size: 30px;
  font-family: Didot;
}

div {
  text-align: left;
  font-family: sans-serif;
}

p {
  text-align: left;
  font-family: monospace;
}

body {
  font-size: 20px;
  color: #ff7f50;
  background-color: #ffdead;

}
